
/*---------- common.css中的复用部分 ---------- */
html, body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}

/* 全屏容器 */
.lt_container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  padding-top: 45px;
  padding-bottom: 55px;
}

.lt_header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: #006699;
  padding-left: 45px;
  padding-right: 45px;
}
.lt_header .icon_left,
.lt_header .icon_right {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  position: absolute;
  top: 0;
  color: #fff;
}
.lt_header .icon_left {
  left: 0;
}
.lt_header .icon_right {
  right: 0;
}
.lt_header h3 {
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin: 0;
  font-weight: normal;
}


.lt_footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #006699;
  overflow: hidden;
}
.lt_footer li {
  float: left;
  width: 25%;
  text-align: center;
}
.lt_footer li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  padding-top: 8px;
}
.lt_footer li p {
  color: #fff;
  margin: 0;
}
.lt_footer li a.current {
  color: orange;
}
.lt_footer li a.current p{
  color: orange;
}

.lt_main {
  width: 100%;
  height: 100%;
  position: relative;
}