/* 首页左侧 */
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.lt_left {
    width: 180px;
    height: 100%;
    background-color: #222D32;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    transition: all 1s;
}

.lt_left.hidetag {
    left: -180px;
}

.lt_left .lt_title {
    height: 50px;
    line-height: 50px;
    background-color: #367FA9;
}

.lt_left .lt_title a {
    display: block;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.lt_left .user {
    height: 180px;
    padding-top: 30px;
}

.lt_left .user img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.lt_left .user p {
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}

.lt_left ul {
    padding: 0px;
    margin: 0px;
}

.lt_left ul li a {
    display: block;
    height: 40px;
    color: #fff;
    padding-left: 40px;
    line-height: 40px;
    border-left: 3px solid transparent;
}

.lt_left ul li a.current {
    border-left: 3px solid #006699;
    background-color: #1D1F21;
}

.lt_left ul li i {
    margin-right: 5px;
}

.lt_left ul li .child {
    display: none;
}

.lt_left ul li .child a {
    padding-left: 60px;
}

/* 核心内容区域 */
.lt_content {
    padding-left: 180px;
    height: 2000px;
    transition: all 1s;
}

.lt_content.hidetag {
    padding-left: 0px;
}

.lt_top {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    background-color: #3C8DBC;
    padding-left: 180px;
    transition: all 1s;
}

.lt_top.hidetag {
    padding-left: 0px;
}

.lt_top a {
    color: #fff;
}

.lt_top .icon-left,
.icon-right {
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

.lt_main {
    /* background-color: pink; */
    height: 100%;
    padding-top: 50px;
}

.mt_20 {
    margin-top: 20px;
}

/* 模态框样式设置 */
.modal .modal-body {
    color: #A94442;
}

/* 盛放数据可视化的盒子样式设置 */
.e_left,
.e_right {
    width: 48%;
    height: 400px;
    /* background-color: skyblue; */

}